@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-param-bg text-param-text font-sans;
  }
}

/* Custom scrollbar for brutalist feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0E0E11;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF6B06;
}
